<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserRedmineLabel" jhiTranslate="jhipsterApp.userRedmine.home.createOrEditLabel">Create or edit a User Redmine</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userRedmine.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userRedmine.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.userRedmine.id_user_redmine" for="field_id_user_redmine">Id User Redmine</label>
            <input type="number" class="form-control" name="id_user_redmine" id="field_id_user_redmine"
                [(ngModel)]="userRedmine.id_user_redmine" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.userRedmine.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                [(ngModel)]="userRedmine.login" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.userRedmine.token" for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                [(ngModel)]="userRedmine.token" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.userRedmine.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userRedmine.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userRedmine.user?.id ? userRedmine.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
