
<div *ngIf="userRedmine">
    <h2><span jhiTranslate="jhipsterApp.userRedmine.detail.title">User Redmine</span> {{userRedmine.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.userRedmine.id_user_redmine">Id User Redmine</span></dt>
        <dd>
            <span>{{userRedmine.id_user_redmine}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.userRedmine.login">Login</span></dt>
        <dd>
            <span>{{userRedmine.login}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.userRedmine.token">Token</span></dt>
        <dd>
            <span>{{userRedmine.token}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.userRedmine.user">User</span></dt>
        <dd>
            {{userRedmine.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-redmine/'+ userRedmine.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
